body{
    background-color: rgb(166, 252, 223);
    }
    
    .formulario {
        /* width: 30%; */
        background-color: #FFF;
        padding:15px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 2px;
        -webkit-box-shadow: 3px 3px 5px 1px #c6c6c6;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 5px 1px #c6c6c6;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 5px 1px #c6c6c6;
    }
    
    .formulario input {
        width:98%;
        background: #f7f7f7;
        border:1px solid #888;
        padding:4px;
    }
    
    .form-container{
        margin-top:5px;
    }
    
    .form-header{
        text-align: center;
    }
    
    /* .form-header h2{ */
    h2{
        text-align: center;
        margin:0;
        padding:0;
        font-size:20px;
        text-transform: uppercase;
        letter-spacing: -1px;
        color: #222;
        /* border:1px solid #ccc; */
        /* margin-bottom:20px; */
    }
    
    /* .form-header hr{ */
    hr{

        border:1px solid #ccc;
        margin-bottom:20px;
    }
    .formulario button {
        background: #89cd66;
        color:white;
        font-weight: bold;
        border:2px solid #fff;
        border-radius: 5px;
        margin: 10px 0 0 0;
        padding:8px;
        width:100%;
    }
    
    .action-btn{
        padding:5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color:white;
        cursor: pointer;
        border-radius:5px;
    }
    
    .green {
        background:green;  
    }
    
    .green:hover{
        background:rgb(2, 197, 2);
    }
    
    
    .red {
        background:red;
    
    }
    
    .red:hover{
        background:rgb(255, 32, 32);
    }
    
    
    
    .delete-btn{
        background:red;
        padding:2px;
        border-radius:5px;
    }
    
    .formulario button:hover{
        background-color:#57c420;
        cursor: pointer;
    }
    table {
        background: #FFF;
        /* width: 30%; */
        margin-top: 2%;
    }
    
    td, th {
        border:  1px solid black;
        text-align: center;
        padding: 8px;
    }




    section{
        display: grid;
        grid-gap:100px;
    }

    @media(min-width:768px){
        section{
            grid-template-columns: 2fr 1fr 1fr;
        }
    }
